.about-container.puzzle-about(class="puzzle-index-#{index % 6}")
  .about-sizer
    .about-content
      %h1.about-header= puzzle['prettyName']
      %p.about-paragraph= puzzle['description']


      .filter
        %span.puzzle-pretext Show me
        %input.puzzle-filter-input(type="text" placeholder="all languages" data-component="filter-input")


      %br
      %a.back-link(href="/")
        %span.link-arrow &#8672;
        All Puzzles 


.main-container
  %ul.solution-list
    - solutions.each do |solution|
      %li.solution(id="#{solution[:language]}" data-component="filterable" data-filter-text="#{solution[:language]}" data-filter-target="/#{solution[:puzzle]['puzzleDir']}/#{solution[:filename]}")
        %h3.solution-language
          = solution[:language]
          %a.link-arrow(href="/#{solution[:puzzle]['puzzleDir']}/#{solution[:filename]}") &#8674;
        %pre
          %code& #{solution[:code]}
